/* CreateSupplierForm.module.css */
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px; /* Adjust margin as needed */
  }
  
  .formField {
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  